.newDiv {
    border: 3px solid gold;
    padding: 5px;
    background-color: white;
    margin-bottom: 0.4rem;
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    height: 1.4rem;
}

.removeDiv {
    order: 1;
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-right: 0.4rem;
    font-size: 1.4rem;
    padding-bottom: 0.2rem;
}

.statusDisplay {
    order: 3;
}

.bookText {
    order: 2;
}

body {
    background-color: rgb(163, 0, 163);
}

form {
    margin-bottom: 0.6rem;
}

form > label {
    color: white;
}
