form {
    display: flex;
}

#header{
    color: white;
    height: 1.8rem;
}

input {
    margin-right: 1rem;
    min-width: 2px;
}

#add {
    position: relative;
    width: 3.5rem;
    height: 1.5rem;
    background-color: gold;
    border: none;
    border-radius: 2px;
    padding-right: 0.5rem;
    font-size: 1rem;
}

#library {
    color: white;
    text-decoration: underline;
    margin-bottom: -0.1rem;
    position: relative;
    bottom: 0.4rem;
}

#directions {
    position: relative;
    top: 0.3rem;
    font-weight: bold;
}

.newDiv {
    border: 3px solid gold;
    padding: 0.35rem;
    background-color: white;
    margin-bottom: 0.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.4rem;
}

.removeDiv {
    order: 1;
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    margin-right: 0.4rem;
    padding-bottom: 0.2rem;
    margin-right: 0.8rem;
}

.bookId {
    order: 2;
    font-size: 1.3rem;
    margin-right: 3rem;
}

.bookText {
    order: 2;
    font-size: 1.3rem;
    margin-right: 2rem;
}

.statusDisplay {
    order: 3;
    height: 1.6rem;
    width: 6rem;
    border: 2px solid gold;
    background-color: rgba(254, 255, 196, 0.568);
    border-radius: 3px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.22rem;
}

body {
    background-color: rgb(163, 0, 163);
}

form {
    margin-bottom: 0.4rem;
}

form > label {
    color: white;
}

label {
    font-weight: bold;
}
